body, html {
  height: 100%;
  overflow: hidden;
}

.falling-leaves {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.leaf-scene {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  transform-style: preserve-3d;
}

.leaf-scene div {
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  background: url(../leaf/leaf.svg) no-repeat;
  background-size: 100%;
  transform-style: preserve-3d;
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
}

.big__leaf {
  width: 15px;
  height: 15px;
  margin: 0px auto;
  z-index: 3;
  transform-style: preserve-3d;
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
  will-change: transform, contents;

}

.big__leaf {
  -webkit-animation: big__leaf__scoping 6s alternate forwards;
  -moz-animation: big__leaf__scoping 6s alternate forwards;
  animation: big__leaf__scoping 6s alternate forwards;

  -webkit-animation-timing-function: ease-in;
  -moz-animation-timing-function: ease-in;
  animation-timing-function: ease-in;

  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  -o-animation-delay: 4s;
  animation-delay: 4s;
  opacity: 0
  
}

@-webkit-keyframes big__leaf__scoping {
    100% {
        -webkit-transform:
                translate3d(0, 0, 0) rotateX(-0deg) scale(3);
          width: 300vw;
          height: 300vh; 
          opacity: 1;
    }


    37% {
        -webkit-transform:
                translate3d(-90vw, 590px, 0) rotateX(45deg);
            opacity: 1;

 

  }

      25% {        
          width: 50px;
          height: 50px;
          opacity: 1; 
    }


    0% {
        -webkit-transform:
                translate3d(600px, 580px, 0) rotateY(-180deg);
          width: 15px;
          height: 15px; 
          opacity: 1;
    }
}
