body, html {
  height: 100%;
  overflow: hidden;
}

.container {
  position: absolute;
  left: 50%;
  cursor: pointer;
  margin-right: -50%;
  transform: translate(-50%, 0%);
  max-width: 1440px;
  min-width: 1024px;
  min-height: 576px;
  max-height: 810px;
  overflow: hidden;
  margin-top: 0px;
  top: 0;
  width: 100vw;
  z-index: 5;
}

@media screen and (max-width: 1023px) {
  .container {
    display: none;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .container {
    width: 100vw;
    height: 100vh;
  }
}

@media screen and (min-width: 1441px) {
  .container {
    width: 1440px;
    height: 810px;
  }
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -9999;
}

.leaf-scene {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  transform-style: preserve-3d;
  z-index: 9;
}

.leaf-scene div {
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  background: url(../result/images/leaf.svg) no-repeat;
  background-size: 100%;
  transform-style: preserve-3d;
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
  z-index: 9;

}

.big__leaf__first {
  -webkit-animation: big__leaf__first__scoping 3s alternate forwards;
  -moz-animation: big__leaf__first__scoping 3s alternate forwards;
  animation: big__leaf__first__scoping 3s alternate forwards;
  -webkit-animation-timing-function: ease-in;
  -moz-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  width: 15px;
  height: 15px;
  margin: 0px auto;
  z-index: 11;
  transform-style: preserve-3d;
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
        -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    -o-animation-delay: 3s;
    animation-delay: 3s;
  will-change: transform, contents;
  opacity: 0;
}

@-webkit-keyframes big__leaf__first__scoping {
    100% {
          transform: translate3d(0px, -600px, 0) rotate(180deg) rotateX(180deg);
          width: 250px;
          height: 250px; 
          display: none;
          opacity: 1;
    }

    0% {
        -webkit-transform:
                translate3d(800px, 500px, 0) rotate(0deg);
          width: 70px;
          height: 70px; 
          opacity: 1;
    }
}

.big__leaf__second {
  -webkit-animation: big__leaf__second__scoping 3s alternate forwards;
  -moz-animation: big__leaf__second__scoping 3s alternate forwards;
  animation: big__leaf__second__scoping 3s alternate forwards;
  -webkit-animation-timing-function: ease-in;
  -moz-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  width: 15px;
  height: 15px;
  margin: 0px auto;
  z-index: 11;
  transform-style: preserve-3d;
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
  will-change: transform, contents;
        -webkit-animation-delay: 8s;
    -moz-animation-delay: 8s;
    -o-animation-delay: 8s;
    animation-delay: 8s;
    opacity: 0;
}

@-webkit-keyframes big__leaf__second__scoping {
    100% {
        -webkit-transform:
                translate3d(-1000px, 400px, 0) rotate(-0deg);
          width: 500px;
          height: 500px; 
          display: none;
          opacity: 1;

    }

    0% {
        -webkit-transform:
                translate3d(0px, -600px, 0) rotate(180deg);
          width: 250px;
          height: 250px; 
          opacity: 1;

    }
}

.fullscreen__leaf {
  -webkit-animation: fullscreen__leaf__scoping 3s alternate forwards;
  -moz-animation: fullscreen__leaf__scoping 3s alternate forwards;
  animation: fullscreen__leaf__scoping 3s alternate forwards;

  -webkit-animation-timing-function: ease-in;
  -moz-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  z-index: 999999!important;

  transform-style: preserve-3d;
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
  will-change: transform, contents;
        -webkit-animation-delay: 1s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    animation-delay: 12s;
    opacity: 0;    
}

@-webkit-keyframes fullscreen__leaf__scoping {
    100% {
          width: 200vw;
          height: 250vh;  
        -webkit-transform:
                translate3d(-1500px, -900px, 0) rotate(-140deg);
          opacity: 1;    
          display: none;
            z-index: 999999!important;


    }

    0% {
        -webkit-transform:
                translate3d(-1000px, 400px, 0) rotate(-0deg);
          width: 500px;
          height: 500px; 
          opacity: 1;    

    }
}

.clouds {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    overflow: hidden;
    transform: translateZ(0);
    height: 10%;
    width: 100%;
    z-index: 9;
}

.cloud {
    position: absolute;
    top: 10%;
    width: 100%;
    right: 0;
    opacity: 1;
}

.cloud.front {
    z-index: 9;
}

.cloud.distant {
    z-index: 1;
}

.cloud.background {
    z-index: 1;
}

.cloud.smaller {
    margin-right: 400px;
    width: 100px;
    margin-top: 50px;
}

.cloud.small {
    margin-right: 200px;
    width: 150px;
}

.cloud.big {
    width: 500px;
    margin-top: 50px;
    margin-right: 150px;
}

.cloud.massive {
    width: 900px;
    margin-top: 20px;
    margin-right: 0px;
}

.cloud {
    -webkit-animation-name: cloud-movement;
    -webkit-animation-timing-function: linear;
    -webkit-animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 18s;

    -moz-animation-name: cloud-movement;
    -moz-animation-timing-function: linear;
    -moz-animation-direction: forwards;
    -moz-animation-iteration-count: infinite;
    -moz-animation-duration: 18s;

    animation-name: cloud-movement;
    animation-timing-function: linear;
    animation-direction: forwards;
    animation-iteration-count: infinite;
    animation-duration: 18s;
}

.slow {
    -webkit-animation-duration: 29.2s;
    -moz-animation-duration: 29.2s;
    animation-duration: 29.2s;
}

.slower {
    -webkit-animation-duration: 11.2s;
    -moz-animation-duration: 11.2s;
    animation-duration: 21.2s;
}

.slowest {
    -webkit-animation-duration: 13.5s;
    -moz-animation-duration: 13.5s;
    animation-duration: 23.5s;
}

.super-slow {
    -webkit-animation-duration: 20.5s;
    -moz-animation-duration: 20.5s;
    animation-duration: 20.5s;
}

@-webkit-keyframes cloud-movement {
    0% {
        opacity: 0.1;
        -webkit-transform: translateX(300px);
        -moz-transform: translateX(300px);
        transform: translateX(300px);
    }

    10% {

        opacity: 0.7;
    }

    50% {

        opacity: 1;
    }

    90% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}