body, html {
  height: 100%;
  overflow: hidden;
}

.container {
  position: absolute;
  left: 50%;
  cursor: pointer;
  margin-right: -50%;
  transform: translate(-50%, 0%);
  max-width: 1440px;
  min-width: 1024px;
  min-height: 576px;
  max-height: 810px;
  overflow: hidden;
  margin-top: 0px;
  top: 0;
  width: 100vw;
  z-index: 5;
}

@media screen and (max-width: 1023px) {
  .container {
    display: none;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .container {
    width: 100vw;
    height: 100vh;
  }
}

@media screen and (min-width: 1441px) {
  .container {
    width: 1440px;
    height: 810px;
  }
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -9999;
}

.leaf-scene {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  transform-style: preserve-3d;
  z-index: 9;
}

.leaf-scene div {
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  background: url(../result/images/leaf.svg) no-repeat;
  background-size: 100%;
  transform-style: preserve-3d;
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
  z-index: 9;

}

.big__leaf__first {
  -webkit-animation: big__leaf__first__scoping 3s alternate forwards;
  -moz-animation: big__leaf__first__scoping 3s alternate forwards;
  animation: big__leaf__first__scoping 3s alternate forwards;
  -webkit-animation-timing-function: ease-in;
  -moz-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  width: 15px;
  height: 15px;
  margin: 0px auto;
  z-index: 11;
  transform-style: preserve-3d;
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
        -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    -o-animation-delay: 3s;
    animation-delay: 3s;
  will-change: transform, contents;
  opacity: 0;
}

@-webkit-keyframes big__leaf__first__scoping {
    100% {
          transform: translate3d(0px, -600px, 0) rotate(180deg) rotateX(180deg);
          width: 250px;
          height: 250px; 
          display: none;
          opacity: 1;
    }

    0% {
        -webkit-transform:
                translate3d(800px, 500px, 0) rotate(0deg);
          width: 70px;
          height: 70px; 
          opacity: 1;
    }
}

.big__leaf__second {
  -webkit-animation: big__leaf__second__scoping 3s alternate forwards;
  -moz-animation: big__leaf__second__scoping 3s alternate forwards;
  animation: big__leaf__second__scoping 3s alternate forwards;
  -webkit-animation-timing-function: ease-in;
  -moz-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  width: 15px;
  height: 15px;
  margin: 0px auto;
  z-index: 11;
  transform-style: preserve-3d;
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
  will-change: transform, contents;
        -webkit-animation-delay: 8s;
    -moz-animation-delay: 8s;
    -o-animation-delay: 8s;
    animation-delay: 8s;
    opacity: 0;
}

@-webkit-keyframes big__leaf__second__scoping {
    100% {
        -webkit-transform:
                translate3d(-1000px, 400px, 0) rotate(-0deg);
          width: 500px;
          height: 500px; 
          display: none;
          opacity: 1;

    }

    0% {
        -webkit-transform:
                translate3d(0px, -600px, 0) rotate(180deg);
          width: 250px;
          height: 250px; 
          opacity: 1;

    }
}

.fullscreen__leaf {
  -webkit-animation: fullscreen__leaf__scoping 3s alternate forwards;
  -moz-animation: fullscreen__leaf__scoping 3s alternate forwards;
  animation: fullscreen__leaf__scoping 3s alternate forwards;

  -webkit-animation-timing-function: ease-in;
  -moz-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  z-index: 999999!important;

  transform-style: preserve-3d;
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
  will-change: transform, contents;
        -webkit-animation-delay: 1s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    animation-delay: 12s;
    opacity: 0;    
}

@-webkit-keyframes fullscreen__leaf__scoping {
    100% {
          width: 200vw;
          height: 250vh;  
        -webkit-transform:
                translate3d(-1500px, -900px, 0) rotate(-140deg);
          opacity: 1;    
          display: none;
            z-index: 999999!important;


    }

    0% {
        -webkit-transform:
                translate3d(-1000px, 400px, 0) rotate(-0deg);
          width: 500px;
          height: 500px; 
          opacity: 1;    

    }
}

.fullscreen__leaf__away {
  -webkit-animation: fullscreen__leaf__away__scoping 3s alternate forwards;
  -moz-animation: fullscreen__leaf__away__scoping 3s alternate forwards;
  animation: fullscreen__leaf__away__scoping 3s alternate forwards;
  position: absolute;
  -webkit-animation-timing-function: ease-in;
  -moz-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  z-index: 999999!important;

  transform-style: preserve-3d;
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
  will-change: transform, contents;

}

@-webkit-keyframes fullscreen__leaf__away__scoping {
    0% {
          width: 200vw;
          height: 250vh;  
        -webkit-transform:
                translate3d(-1500px, -900px, 0) rotate(-140deg);
          opacity: 1;    
          display: none;
            z-index: 999999!important;


    }

    100% {
        -webkit-transform:
                translate3d(2000px, 400px, 0) rotate(-0deg);
          width: 500px;
          height: 500px; 
          opacity: 1;    

    }
}

.clouds {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    overflow: hidden;
    transform: translateZ(0);
    height: 10%;
    width: 100%;
    z-index: 9;
}

.cloud {
    position: absolute;
    top: 10%;
    width: 100%;
    right: 0;
    opacity: 1;
}

.cloud.front {
    z-index: 9;
}

.cloud.distant {
    z-index: 1;
}

.cloud.background {
    z-index: 1;
}

.cloud.smaller {
    margin-right: 400px;
    width: 100px;
    margin-top: 50px;
}

.cloud.small {
    margin-right: 200px;
    width: 150px;
}

.cloud.big {
    width: 500px;
    margin-top: 50px;
    margin-right: 150px;
}

.cloud.massive {
    width: 900px;
    margin-top: 20px;
    margin-right: 0px;
}

.cloud {
    -webkit-animation-name: cloud-movement;
    -webkit-animation-timing-function: linear;
    -webkit-animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 18s;

    -moz-animation-name: cloud-movement;
    -moz-animation-timing-function: linear;
    -moz-animation-direction: forwards;
    -moz-animation-iteration-count: infinite;
    -moz-animation-duration: 18s;

    animation-name: cloud-movement;
    animation-timing-function: linear;
    animation-direction: forwards;
    animation-iteration-count: infinite;
    animation-duration: 18s;
}

.slow {
    -webkit-animation-duration: 29.2s;
    -moz-animation-duration: 29.2s;
    animation-duration: 29.2s;
}

.slower {
    -webkit-animation-duration: 11.2s;
    -moz-animation-duration: 11.2s;
    animation-duration: 21.2s;
}

.slowest {
    -webkit-animation-duration: 13.5s;
    -moz-animation-duration: 13.5s;
    animation-duration: 23.5s;
}

.super-slow {
    -webkit-animation-duration: 20.5s;
    -moz-animation-duration: 20.5s;
    animation-duration: 20.5s;
}

@-webkit-keyframes cloud-movement {
    0% {
        opacity: 0.1;
        -webkit-transform: translateX(300px);
        -moz-transform: translateX(300px);
        transform: translateX(300px);
    }

    10% {

        opacity: 0.7;
    }

    50% {

        opacity: 1;
    }

    90% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

.invisible {
  display: none;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.quizcard {
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -moz-transform: perspective(1800px);
    -webkit-perspective: 1800px;
    perspective: 1800px;
    background: transparent;
}

.loaded.quizcard {
  opacity: 1;
}

.quizcard--cards {
  -webkit-box-flex: 1;
  flex-grow: 2;
  text-align: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  z-index: 1;
}

.quizcard--buttons {
  -webkit-box-flex: 0;
  flex: 0 0 100px;
  text-align: center;
  padding-top: 20px;
}

.quizcard--buttons button {
    border: 0;
    border-radius: 4px;
    padding: 12px 24px;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    margin: 20px;
}

.quizcard--buttons button:focus {
  outline: 0;
}

.flip-card {
  display: inline-block;
    width: 900px;
    height: 450px;
  text-align: center;
  margin: 50px auto;
  position: absolute;
  -o-transition: transform 0.5s ease-out, opacity 0.2s ease-out;
  -webkit-transition: transform 0.5s ease-out, opacity 0.2s ease-out;
  -ms-transition: transform 0.5s ease-out, opacity 0.2s ease-out;
    transition: transform 0.5s ease-out, opacity 0.2s ease-out;
  -o-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
  will-change: transform;

}

.do-flip {
  -o-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.flip-card .flip-card-front, .flip-card-back{
  width: 100%;
  height: 100%;
  position: absolute;
  -o-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 2;
  background: white;
  color: #000;
  padding: 20px 40px;
}
.flip-card .flip-card-front {
    border-radius: 7px;
}
.flip-card .flip-card-back {
  -o-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
  height: 100%;
}

.card {
  width: 100%;
  height: 100%;
  border: 1px solid #FF882A; 
  display: flex;
  background-color: white;
  border-radius: 10px;
}

.inner {
  width: 100%;
  border: solid 1px #FF882A;
  margin: 15px;
  border-radius: 10px;
  position: relative;
      display: flex;
    justify-content: center;
    align-items: center;
}

.middle {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.middle p {
  background: transparent;
  margin-top: 6%;
  margin-bottom: 6%;
  padding-top: 3px;
  padding-bottom: 3px;
  color: #000;
  border-radius:3px;
  opacity: 0.7;
  text-align: center;
  font-weight: 500;
  position: relative;
  overflow-wrap: break-word;
}

.face_text {
  font-size: 1.5em;
  font-family: "Roboto", "Arial", sans-serif;
}

.back_text {
  font-size: 1.1em;
  text-align: center;
    margin: 0;
    line-height: 1.5;
}

.middle p:after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  opacity: 0.1;
  position: absolute;
  top: 0;
}

.button:hover {
  background: #FF882A;
  color: #FFF;
  box-shadow: none;
}

.button {
  position: absolute;
  z-index: 5;
  border-radius: 3px;
  border: 1px solid #FF882A;
  background: white;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 500px;
  text-align: center;
    letter-spacing: 1px;
    bottom: -7px;
    transition: 0.3s ease-in-out;
    padding: 7px;
    cursor: pointer;
}

.nope {
  background: red;
}

.yes {
  background: green;
}

.hidden {
  display: none;
}
